.light-orange {
    background-color: #ff5901;
}

.light-logo {
    padding: 3px;
}

.nav-wrapper > img {
    margin: 1px 1px 1px 1px;
}

.center-btn {
    text-align: center;
}

.custom-center {
    display: flex;
    justify-content: center;
}

.snap-bottom {
    position: fixed;
    width: 100%;
    bottom: -20px;
}

.small-margin {
    margin: 4px;
}

.round-border {
    border-radius: 50px;
}

.pop-up {
    animation: pop-up 0.3s forwards;
}

@keyframes pop-up {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 64px;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    }
}

.pop-down {
    animation: pop-down 0.6s forwards;
}

@keyframes pop-down {
    0% {
        bottom: 64px;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
    }
    50% {
        bottom: 0;
        background: rgba(255, 255, 255, 0);
    }
    100% {
        background: rgb(255, 111, 0);
    }
}

.mic-fade-orange {
    animation: mic-fade-orange 0.3s forwards;
}

@keyframes mic-fade-orange {
    0% {
        color: rgb(255, 255, 255);
    }
    100% {
        color: rgb(255, 111, 0);
        font-size: 3em;
    }
}

.mic-fade-white {
    animation: mic-fade-white 0.3s forwards;
}

@keyframes mic-fade-white {
    0% {
        color: rgb(255, 111, 0);
        font-size: 3em;
    }
    100% {
        color: rgb(255, 255, 255);
    }
}
